/* Created by: Dominic M.
* Created on: June 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
  color: #f00;
}

.mdl-layout__content {
  padding-left: 25pt;
  padding-right: 25pt;
  padding-top: 25pt;
}

.page-content {
  color: #90f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: #0ff;
}

.donut {
  float: right;
  width: 500px;
}
